.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;
  margin-top: 2rem;
  text-shadow: 0 0 3px #000000;
}

.drum-pad {
  border: none;
  background-color: aliceblue;
  text-align: center;
  font-size: 2rem;
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;
}

.active {
  background-color: rgb(251, 255, 1);
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    0px 0px 4px 2px rgb(251, 255, 1);
}
