.drum-machine {
  border: 1px solid black;
  width: 60%;
  margin: 30px auto 10px auto;
  padding: 30px;
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;
  background: rgba(45, 45, 45, 1);
}

@media only screen and (max-width: 500px) {
  .drum-machine {
    width: 90%;
    margin: 5px auto 5px auto;
    padding: 10px;
  }
}
