.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 1px solid grey;
  background-color: aliceblue;
  text-align: center;
}
